.main__container {
  width: 1000px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.review__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.review__text {
  font-size: 18px;
}
.review__span {
  font-weight: bold;
  color: brown;
}
